body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: #000;
}
img {
  border: 0;
  padding: 0;
  margin: 0;
  display: block;
  float: left;
}
legend {
  border: 2px solid rgba(255,255,255,.2);
  border-radius: 1em;
  color: #fff;
  padding: 1em 2em;
  background: rgba(0,0,0,.8);
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 200px;
  height: 150px;
  font: bold 12px sans-serif;
  pointer-events: none;
  opacity: 0;
  -moz-transition: .3s opacity;
}
legend.show {
  opacity: 1;
}
legend p:first-letter {
  color: #ff8;
}
section {
  display: block;
  position: relative;
  float: left;
  width: 50%;
  height: 50%;
}
section img {
  -moz-transition: -moz-transform .25s ease-out .25s;
}
section form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  -moz-transition: -moz-transform .25s ease-in;
  -moz-transform: scaleY(0);
}
section fieldset {
  margin: 1em;
  border: 0;
}
section.edit img {
  -moz-transition: -moz-transform .25s ease-in;
  -moz-transform: scaleY(0);
}
section.edit form {
  -moz-transition: -moz-transform .25s ease-out .25s;
  -moz-transform: scaleY(1);
}
section input,
section textarea {
  float: right;
  width: 90%;
  margin-left: 8px;
}
section textarea {
  height: 20%;
}
section div {
  text-align: right;
  margin-bottom: 1em;
}
section div:last-child {
  padding-left: 10%;
  text-align: left;
}
section div:after {
  content: ' ';
  display: inline-block;
  height: 0;
  width: 0;
  clear: both;
}