<!DOCTYPE html>
<html>
<head>
  <title>how's it hanging?</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

  <!-- Topbar
  ================================================== -->
  <div class="topbar" >
    <div class="topbar-inner">
      <div class="container">
        <a class="brand" href="#">statsdash</a>
        <form class="pull-right">
          <label for="show_legend"><input id="show_legend" type="checkbox"> show legends</label>
          <select id="from-select">
            <option>-1hour</option>
            <option>-24hour</option>
            <option>-7day</option>
            <option>-30day</option>
          </select>
          <input type="button" id="refresh" value="refresh">
        </form>
      </div>
    </div>
  </div>

  <!-- Graphs
  ================================================== -->
  <div id="graph-app"></div>
  <legend>
    <p>h : show help menu</p>
    <p>r : reload graphs</p>
    <p>l : toggle graph legends</p>
  </legend>

  <script type="text/template" id="graph-template">
    <img class="graph">
    <form>
      <fieldset>
        <div><label>Title: </label><input class="title" value="<%= title %>"></div>
        <div><label>Data:  </label><textarea class="target"><%= target.join(' | ') %></textarea></div>
        <div><button class="btn primary">done</button></div>
      </fieldset>
    </form>
  </script>

  <script src="js/libs/jquery.min.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone-min.js"></script>
  <script src="js/libs/backbone-localstorage.js"></script>
  <script src="js/app.config.js"></script>
  <script src="js/app.js"></script>

</body>
</html>