<!DOCTYPE html>
<html>
<head>
  <title>how's it hanging?</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <div id="graph-app"></div>
  <legend>
    <p>h : show help menu</p>
    <p>r : reload graphs</p>
    <p>l : toggle graph legends</p>
  </legend>

  <script type="text/template" id="graph-template">
    <img class="graph">
    <form>
      <fieldset>
        <div><label>Title: <input class="title" value="<%= title %>"></label></div>
        <div><label>Data:  <textarea class="target"><%= target.join(' | ') %></textarea></label></div>
        <div><button>done</button></div>
      </fieldset>
    </form>
  </script>

  <script src="js/libs/jquery.min.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone-min.js"></script>
  <script src="js/libs/backbone-localstorage.js"></script>
  <script src="js/app.config.js"></script>
  <script src="js/app.js"></script>
</body>
</html>